#!/bin/bash
set -a

#################################################################
########################## CONFIGURATION ########################
#################################################################
#								#
#	This file includes configuration parameters 		#
#	for the script						#
#	To get started, check options under:			#
#	1. FOLDERS AND FILES					#
#	2. BACKUP MEDIA						#
#								#
#	For additional information, refer to 'man rsync' or	#
#	'man cryptsetup'. 					#
# 								#
# ###############################################################


#### PATH VARIABLES ####
mkdir=/bin/mkdir
mount=/bin/mount
umount=/bin/umount
cryptsetup=/sbin/cryptsetup
rsync=/usr/bin/rsync
rm=/bin/rm
grep=/bin/grep
lsblk=/bin/lsblk


#### FOLDERS AND FILES

#Folder
home=/home/kopper

#Script root directory (adjust accordingly)
config_location=$home/Documents/Scripts/Backup
#List of files and directories to be included
include=$config_location/backup_list
#List of files and directories to be excluded
exclude=$config_location/backup_exclude

#### BACKUP MEDIA 

#Drive label of backup media (e.g. sda, sdb... NOT sda1 or /dev/sda)
drive=sde
#Label to be used when mounting with cryptsetup, e.g. backup
mount_label=Backup
#Where to mount the backup media. This doesn't have to end same than
#the mount_label. 
mount_point=/mnt/Backup

#### BACKUP OPTIONS (rsync)

#Backup root directory, where folders created by script should be stored.
#Rest of the parameters are folder location for each backup type. 
backup_root_dir=$mount_point
backup_dir_incr=$backup_root_dir/backup_incremental	
backup_dir_mirr=$backup_root_dir/backup_mirror		
backup_dir_full=$backup_root_dir/$(date +'backup_full_%d%m%y')

#Rsync options and flags
#Refer to 'man rsync' for additional information about flags
#Default flags are: (a)rchive, (v)erbose Archive includes following 
#options: rlptGot. For some reason --recursive  doesn't seem to work 
#currently, unless separately specified like below. In addition to flags 
#defined here, script includes --files-from, --exclude-from and 
#--log-file (see above). This setting supports both long and short 
#flags, as long as they are inside the ''.
flags='-ar --verbose'

#Log file syntax
log_syntax_incr=$(date +'backup_log_incremental_%d%m%y')
log_syntax_mirr=$(date +'backup_log_mirror_%d%m%y')
log_syntax_full=$(date +'backup_log_full_%d%m%y')

#Logfile path
#By default, same than backup directory
log_path_incr=$backup_dir_incr
log_path_mirr=$backup_dir_mirr
log_path_full=$backup_dir_full

#### SCRIPT BEHAVIOUR

#Timeout in seconds to automatically unmount after backup is completed. 
timeout=5


