#!/usr/bin/env bash
set -o errexit
set -o pipefail

#################################################################
########################## CONFIGURATION ########################
#################################################################
#								#
#	This file includes configuration parameters 		#
#	and all the variables for the script.						#
#	To get started, check options under:			#
#	1. FOLDERS AND FILES					#
#	2. BACKUP MEDIA						#
#								#
#	For additional information, refer to 'man rsync' or	#
#	'man cryptsetup'. 					#
# 								#
# ###############################################################


#### PATH VARIABLES ####
mkdir=/bin/mkdir
mount=/bin/mount
umount=/bin/umount
cryptsetup=/sbin/cryptsetup
rsync=/usr/bin/rsync
rm=/bin/rm
grep=/bin/grep
lsblk=/bin/lsblk


#### FOLDERS AND FILES

#Folder
home=/home/user

#Script root directory (adjust accordingly)
config_location=$home/scripts
#List of files and directories to be included
include=$config_location/backup_list
#List of files and directories to be excluded
exclude=$config_location/backup_exclude

#### BACKUP MEDIA 

#Drive label of backup media (e.g. sda, sdb... NOT sda1 or /dev/sda)
drive=sdX
#Label to be used when mounting with cryptsetup, e.g. backup
mount_label=backup
#Where to mount the backup media. This doesn't have to end same than
#the mount_label. 
mount_point=/mnt/backup

#### BACKUP OPTIONS (rsync)

#Backup root directory, where folders created by script should be stored.
#Rest of the parameters are folder location for each backup type. 
backup_root_dir=$mount_point
backup_dir_incr=$backup_root_dir/backup_incremental	
backup_dir_mirr=$backup_root_dir/backup_mirror		
backup_dir_full=$backup_root_dir/$(date +'backup_full_%d%m%y')

#Rsync options and flags
#Following settings defined rsync flags for each backup type. Both short
#and long flags are acceptable, 
#NOTE: Use 'r'/--recursive with -a/--archive. For some reason -a does 
#not include it even though it should
#NOTE2: every rsync command includes already --log-file, --files-from
#and --exclude-from. These can be found in backup.functions
#Refer to 'man rsync' for more details on possible flags
flags_incr='-arvu'
flags_mirr='-arv --delete'
flags_full='-arvu'

#### LOGGING

#Log file syntax
log_syntax_incr=$(date +'backup_log_incremental_%d%m%y')
log_syntax_mirr=$(date +'backup_log_mirror_%d%m%y')
log_syntax_full=$(date +'backup_log_full_%d%m%y')

#Logfile path
#By default, same than backup directory
log_path_incr=$backup_dir_incr
log_path_mirr=$backup_dir_mirr
log_path_full=$backup_dir_full

#Composed logfile path
log_file_incr=$log_path_incr/$log_syntax_incr
log_file_mirr=$log_path_mirr/$log_syntax_mirr
log_file_full=$log_path_full/$log_syntax_full

#### SCRIPT BEHAVIOUR

#Timeout in seconds to automatically unmount after backup is completed. 
timeout=5


